.first-div{
    width: 500px;
    height: 500px;
    background-color: aqua;
    Border-width: 3px;
    border-color: blue;
    border-radius: 20%;
    margin:10px ;
    padding: 5px;
}
p{
    color: black;
    font-size: 70px;
}